@page "/search"
@using Microsoft.Extensions.Options
@using Nest
@using Newtonsoft.Json
@using webtail.Models
@inject ILogger<EsSearch> Logger
@using Radzen.Blazor.Rendering
@inject NotificationService NotifService;
@inject IOptions<CrawlerOptions> CrawlerOptions
@inject TooltipService tooltipService

<style>
    .tooltip-button {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

        .tooltip-button .tooltip-text {
            visibility: hidden;
            background-color: #333;
            color: #fff;
            text-align: left;
            border-radius: 4px;
            padding: 6px;
            position: absolute;
            z-index: 100;
            bottom: 125%;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: opacity 0.2s;
        }

        .tooltip-button:hover .tooltip-text {
            visibility: visible;
            opacity: 1;
        }
</style>

<HeadContent>
   
<PageTitle >Es Search</PageTitle>
    <link rel="icon" type="image/png" href="images/glasses-48.png" />
</HeadContent>

<h3>Elastic Search</h3>

<div class="search-bar" style="display:flex; align-items:center; gap:10px;">
    <input type="text" @bind="SearchQuery" placeholder="Enter search text or pick from Suggested Words..." class="form-control" @onkeydown="HandleKeyDown" @bind:event="oninput" />
    <button class="btn btn-primary" @onclick="PerformSearch" >Search</button>
   <div>
        <RadzenRadioButtonList @bind-Value=@selectedOperator TValue="int">
            <Items>
                <RadzenRadioButtonListItem Text="And" Value="1" />
                <RadzenRadioButtonListItem Text="Or" Value="2" />
              
            </Items>
        </RadzenRadioButtonList>
</div>
</div>

<div class="mt-3">
    <label>
        <input type="checkbox"  @bind="SearchDwg" /> DWG
    </label>
    <label class="ms-3">
        <input type="checkbox" @bind="SearchPdf" /> PDF
    </label>
    <label class="ms-3">
        <input type="checkbox" @bind="SearchOther" /> Other
    </label>
</div>
<h5 class="m-3 " title="can add words on appsettings.json">Suggested Words</h5>
<div class="mb-3">
    @foreach (var word in Words)
    {
        <button class="btn btn-outline-secondary me-2 mb-2"
                @onclick="() => AddWord(word)">
            @word
        </button>
    }
</div>

<button class="btn btn-success" @onclick="AddAllWords">Add All</button>

@if (IsSearching)
{
    <p><em>Searching...</em></p>
}
else if (Results?.Any() == true)
{
    <h5 class="mt-3">Results (Page @CurrentPage of @TotalPages)</h5>

    <ul class="list-group">
        @foreach (var result in PagedResults)
        {
            <li class="list-group-item" >
                <div>
                    <strong> @((MarkupString)result.Title)</strong>
                   
                </div>
                <div>
                    @((MarkupString)result.Highlight)   <!-- highlight HTML -->
                </div>
               
                <div class="rz-p-2 align-content-lg-start" >
                    
                    <ResultTooltip Result=result>
                        
                     </ResultTooltip>
                   
                </div>
            </li>
        }
    </ul>
   

    <div class="mt-3">
        <button class="btn btn-secondary" disabled="@(!CanPrev)" @onclick="PrevPage">Previous</button>
        <button class="btn btn-secondary ms-2" disabled="@(!CanNext)" @onclick="NextPage">Next</button>
    </div>
}
else if (HasSearched)
{
    <p>No results found.</p>
}
@* <Popup @ref=popup Lazy=true class="my-popup">
    @if (SelectedRecord != null)
    {<div class="mt-4 card p-3">
        <h5>Full Metadata</h5>
        <pre>@System.Text.Json.JsonSerializer.Serialize(SelectedRecord.Metadata, new System.Text.Json.JsonSerializerOptions { WriteIndented = true })</pre>
        <button class="btn btn-sm btn-outline-secondary mt-2" @onclick="() => {SelectedRecord = null;popup.CloseAsync();}">Close</button>
    </div>}
</Popup> *@



@code {
    [Inject]
    private IJSRuntime JS { get; set; }

    void ShowTooltip(ElementReference elementReference,SearchResult res, TooltipOptions options = null) 
    { 
        tooltipService.Open(popup.Element, "Hello!", options);
    }
    private string SearchQuery { get; set; } = string.Empty;
    //private string SelectedIndex { get; set; } = "dwg";
    RadzenButton button;
    Popup popup;
    private int selectedOperator { get; set; } = 2; // default
    private bool SearchDwg { get; set; } = true;
    private bool SearchPdf { get; set; } = true;
    private bool SearchOther { get; set; } = true;

    private bool IsSearching { get; set; } = false;
    private bool HasSearched { get; set; } = false;

    private List<SearchResult> Results { get; set; } = new();
    private int CurrentPage { get; set; } = 1;
    private int PageSize { get; set; } = 10;
    private List<string> Words;


    private SearchResult? SelectedRecord { get; set; }

    private IEnumerable<SearchResult> PagedResults =>
        Results.Skip((CurrentPage - 1) * PageSize).Take(PageSize);

    private int TotalPages => (int)Math.Ceiling((double)(Results?.Count ?? 0) / PageSize);
    private bool CanPrev => CurrentPage > 1;
    private bool CanNext => CurrentPage < TotalPages;

    private ElasticsearchService es = null;
    private async Task CopyText(string res)
    {
        await JS.InvokeVoidAsync("copyToClipboard", res);
    }
    protected override async Task OnInitializedAsync()
    {
        var _ensureIndexExistsTask = await GetElasticsearchService(); // Ensure the service is initialized
        Words = CrawlerOptions.Value.Words.Split(",").Select(item => item.Trim()).ToList();

    }
    private void AddWord(string word)
    {
        if (!string.IsNullOrWhiteSpace(SearchQuery))
            SearchQuery += " ";
        SearchQuery += word;
    }
    private void AddAllWords()
    {
        if (!string.IsNullOrWhiteSpace(SearchQuery))
            SearchQuery += " ";
        SearchQuery += string.Join(" ", Words);
    }
    public async Task<bool> GetElasticsearchService()
    {
        if (es == null)
        {
            es = await ElasticsearchService.GetAsync(uri: CrawlerOptions.Value.ElasticsearchUri, dwg_indexname: "dwg", pdf_indexname: "pdf");
        }
        if (es is null)
        {
            NotifService.Notify(NotificationSeverity.Error, "Elastic Server", "Elastic server not started or no indexes found!", duration: 8000, closeOnClick: true);
            return false;
        }
        return true;
    }
    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await PerformSearch();
        }
    }
    private async Task PerformSearch()
    {
        if (string.IsNullOrWhiteSpace(SearchQuery)) return;
        string filename,highlightFn;
        IsSearching = true;
        HasSearched = true;
        Results.Clear();
        SelectedRecord = null;
        CurrentPage = 1;
        var op = selectedOperator == 1 ? Operator.And : Operator.Or;
        var indtosearch = new List<string>();
        if (SearchDwg)
            indtosearch.Add("dwg");
        if (SearchPdf)
            indtosearch.Add("pdf");
        if (SearchOther)
            indtosearch.Add("other");


        try
        {
            foreach (var ind in indtosearch)
            // 🔎 Call your search function
            { var results = await es.SearchArticlesAsync(SearchQuery, ind,op);
                foreach (var hit in results.Hits)
                {
                    
                    string HtmlContent = "",contentrev="";
                    var doc = (Dictionary<string, object>)hit.Source;
                    var content =(string) doc["content"];
                    //List<string> items = JsonSerializer.Deserialize<List<string>>(doc["imagenames"]); 
                    var imagenames = ((IEnumerable<object>)doc["imagenames"]).Cast<string>().ToList();
                        
                    if(doc.ContainsKey("contentrev"))
                        contentrev =(string) doc["contentrev"];
                    var meta = (Dictionary<string, object>)doc["metadata"];
                    filename = (string)doc["file"];
                    if (hit.Highlight.ContainsKey("file"))
                        //HtmlContent = "<h4>File: " + hit.Highlight["file"].FirstOrDefault() + "</h4>";
                        highlightFn = hit.Highlight["file"].FirstOrDefault();
                    else
                        highlightFn = filename;
                    // if (hit.Highlight.ContainsKey("content.value"))
                    //     foreach (var highlight in hit.Highlight["content.value"])
                    //     {
                    //         HtmlContent += "\n" + highlight;
                    //     }
                    if (hit.Highlight.ContainsKey("content"))
                        foreach (var highlight in hit.Highlight["content"])
                        {
                            HtmlContent += "\n" + highlight;
                        }
                    if (hit.Highlight.ContainsKey("contentrev"))
                        foreach (var highlight in hit.Highlight["contentrev"])
                        {
                            HtmlContent += "\n" + highlight;
                        }
                    if (hit.Highlight.ContainsKey("imagenames"))
                    {
                        HtmlContent += "\n" + "<u>Images:</u>";
                        foreach (var highlight in hit.Highlight["imagenames"])
                        {
                            HtmlContent += "\n" + highlight;
                        }}


                Results.Add(new SearchResult { Title = highlightFn, Highlight = HtmlContent,Metadata=meta,file=filename,Content=content,ContentRev=contentrev,
                imagenames=imagenames});


            }}
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Search failed");
        }
        finally
        {
            IsSearching = false;
        }
    }

    private void PrevPage() => CurrentPage--;
    private void NextPage() => CurrentPage++;

    private void ShowFullRecord(SearchResult result)
    {
        SelectedRecord = result;
        popup.ToggleAsync(button.Element);
    }

    // Mock type - adjust to your real search result structure
    public class SearchResult
    {
        public string Title { get; set; }
        public string Content { get; set; }
        public string ContentRev { get; set; }
        public string file { get; set; }
        public List<string> imagenames { get; set; }
        public string HtmlContent { get; set; }
        public string Highlight { get; set; }   // contains highlighted HTML snippet
        public Dictionary<string,object> Metadata { get; set; }
    }
    public class ResultState
    {
        public SearchResult CurrentResult { get; set; }
    }
    // 🔹 Replace this with your actual Elasticsearch call
   
}
